.mainContainer{
    width: 90%;
    margin:0 auto;
}

.topAbout{
    height: 100%;
    display: flex;
}

.aboutText, .priceList, .bottomAbout{
    background: var(--white-blue);
    padding: 2rem;
}

.aboutText{
    flex: 3;
    margin-right: .5rem;
}

.priceList{
    flex: 2;
    text-align: center;
}

.bottomAbout{
    height: 20vh;
    margin-top: .5rem;
}

.aboutTitles, .aboutLists{
    margin-bottom: 1rem;
}

.aboutInfo p{
    font-weight: 400;
}

.aboutInfo span{
    line-height: 1.5rem;
    display: inline-block;
    padding-top: .4rem;
}

ul{
    line-height: 150%;
}


@media only screen and (max-width: 800px){
    .topAbout{
        flex-direction: column;
    }

    .aboutText{
        margin-bottom: .5rem;
    }

    .aboutText{
        margin-right: 0;
    }
    


}