
.mainContainer{
    width: 100%;
    margin: 0 auto;
}

.topAbout{
    height: fit-content;
    display: flex;
}

.aboutText, .servicesContainer, .bottomAbout{
    background: var(--white-blue);
    padding: 2rem;
}

.aboutText{
    flex: 3;
    margin-right: .5rem;
}

.servicesContainer{
    flex: 2;
    text-align: center;
}

.priceList{
    justify-content: center;
}

.aboutTitles, .offerList{
    margin-bottom: 1rem;
}

.aboutInfo p{
    font-weight: 400;
}

.aboutInfo span{
    font-size: .9rem;
    line-height: 1.5rem;
    display: inline-block;
    padding-top: .5rem;
}

.offerList{
    line-height: 150%;
}

/* Staff */

.bottomAbout{
    height: fit-content;
    margin-top: .5rem;
}

.staffContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-items: stretch;
}

.staffInfo{
    display: flex;
    flex-direction: column;
    background: var(--light-blue);
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: .4rem;
}

.staffInfo p{
    color: var(--black-sky);
    padding: .1rem 0 .3rem 0;
}

.staffInfo a{
    font-size: .8rem;
    color: var(--black-sky)
}

.staffImg{
    width: inherit;
    background: var(--white-blue);
    border-radius: .3rem;
    box-shadow: var(--sky-blue) 0px .2rem .5rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 800px){
    .topAbout{
        flex-direction: column;
    }

    .aboutText{
        margin-bottom: .5rem;
        margin-right: 0;
    }

}