
.footerContainer{
    width: 100%;
    background-color: var(--white-blue);
}

.mainFooter {
    color: var(--black-sky);
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 3rem;
}

.footerLinks {
    display: flex;
    flex-direction: column;

}

.footerLink {
    line-height: 2rem;
    cursor: pointer;
    color: var(--regular-black);
}

.footerTop {
    display: flex;
    margin: 0 auto;
    margin: 2rem 0 2rem 0;
}

.footerText {
    color: var(--hundkojan-blue);
    margin-bottom: .5rem;
}

.footerLine {
    width: 100%;
    border-bottom: .05rem solid var(--hundkojan-blue);
}

.footerCopyright {
    display: flex;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1rem;
}