header {
  display: flex;
  width: 100%;
  height: 7rem;
  padding: 0 5%;
  background: var(--white-regular);
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.imgLogo {
  width: 110px;
}

.logoContainer h3 {
  font-size: 1rem;
}

.logoName {
  font-size: 1.3rem;
  color: var(--hundkojan-blue);
}

.nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 26rem;
}

.navListItem {
  cursor: pointer;
  font-size: 1rem;
  color: var(--black-sky);
}

.navListItem:hover {
  color: var(--hundkojan-blue);
}

.language {
  width: 4rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

#sweden {
  transform: scale(1.1);
}

.flag {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.hamburgerMenu {
  display: none;
  color: var(--hundkojan-blue);
}

@media only screen and (max-width: 850px) {
  .navList {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 750px) {
  .navList {
    max-width: 15rem;
  }
  .navListItem {
    font-size: 0.8rem;
  }

  #sweden {
    transform: scale(0.9);
  }

  .flag {
    transform: scale(0.8);
  }

  .language {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  header {
    height: 6rem;
    transition: linear 0.3s;
  }
  .hamburgerMenu {
    display: flex;
    font-size: 1.3rem;
  }

  .imgLogo {
    transform: scale(0.8);
    transition: linear 0.3s;
  }

  .navList {
    display: none;
  }

  .nav {
    width: 100vw;
  }

  .language {
    display: none;
    margin-left: 0;
  }

  #hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 6rem;
    width: 100%;
    max-width: 100%;
    height: 13rem;
    background: var(--white-blue);
    padding: 4rem 0 1rem;
  }

  #hiddenFlag {
    display: flex;
    background: var(--white-blue);
    height: 2rem;
    position: absolute;
    left: 0;
    top: 6rem;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
  }

  .navListItem {
    border-bottom: 1px solid var(--light-blue);
  }
}
