header {
  display: flex;
  width: 100%;
  height: 7rem;
  padding: 0 5%;
  background: var(--white-regular);
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.imgLogo {
  width: 110px;
}

.logoContainer h3 {
  font-size: 1rem;
}

.nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navList {
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 26rem;
  justify-content: space-between;
}

.navListItem {
  cursor: pointer;
  font-size: 1rem;
  color: var(--black-sky);
}

.navListItem:hover {
  color: var(--hundkojan-blue);
}

.hamburgerMenu {
  display: none;
  color: var(--hundkojan-blue);
}

@media only screen and (max-width: 650px) {
  .navListItem {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 6rem;
    transition: linear 0.3s;
  }
  .hamburgerMenu {
    display: flex;
  }

  .imgLogo {
    transform: scale(0.8);
    transition: linear 0.3s;
  }

  .navList {
    display: none;
  }

  .nav {
    width: 100vw;
  }

  #hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    top: 6rem;
    width: 100%;
    max-width: 100%;
    height: 140px;
    background: var(--white-blue);
  }

  .navListItem {
    border-bottom: 1px solid var(--light-blue);
  }
}
